<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button onclick=read()>Read All</button>


<script>


    const localUrl = 'http://localhost/BradRestApi/api/post/';
    const herokuUrl =

    async function read(){


        const config = {
            method: 'GET',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
            }
        };

        const response = await fetch(`${localUrl}read.php`, config);
        const json = await response.json();

        console.log(json.data[0].id);

    }

</script>
</body>
</html>