<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button onclick=readAll()>Read All</button>
<button onclick=getAllUsers()>getAllUsers</button>


<script>

    const localUrl = 'http://localhost/BradRestApi/api/post/';
    const herokuUrl = 'https://hidden-brushlands-71469.herokuapp.com/api/post/';

    async function readAll() {
        const config = {
            method: 'GET',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
            }
        };

        // Either of these would work, but only the second one would work for outside users
        //const response = await fetch('api/post/read.php', config);
        const response = await fetch(`${herokuUrl}read.php`, config);

        const json = await response.json();

        json.data.forEach((i) => {
            console.log(i)
        })
    }


    async function getAllUsers() {

        const config = {
            method: 'GET',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
            }
        };

        const response = await fetch(`${localUrl}getallusers.php`, config);
        const json = await response.json();
    }


</script>
</body>
</html>